.CollectionsContainer {
  margin: 110px 0;

  .CategoryTile {
    margin-bottom: 30px;

    &__image {
      height: 400px;
      background-size: cover;
      background-color: #e2e2e2;
      position: relative;

      &--placeholder {
        height: 50%;
        position: relative;
        transform: translateY(100%);
        width: 100%;
        background-color: #00000085;

        h3 {
          color: #fff;
          position: absolute;
          top: 50%;
          width: 100%;
          text-align: center;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(0, -50%);
        }
      }
    }

    &:hover {
      cursor: pointer;

      h3 {
        text-decoration: underline;
      }
    }
  }
}
