@import "./global.scss";

.Footer {
  a {
    padding: 10px;
    color: white;
    text-decoration: none;

    &:hover {
      color: rgb(197, 197, 197);
      text-decoration: none;
    }
  }

  p {
    color: rgb(214, 214, 214);
    width: 100%;
  }

  &__menu {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;

    a {
      width: 100%;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}

footer {
  background-color: $main-color;
  padding: 30px 0;
  margin-top: 30px;
}
