// Variables:
$main-color: #000;

@mixin tablet {
  @media (min-width: 769px) and (max-width: 1024px) {
    @content;
  }
}

@mixin small {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

*::selection {
  color: #ffffff;
  background: $main-color;
}

h3 {
  font-size: 28px;
}

// .container {
//   max-width: unset;
// }

.carousel-cell {
  position: relative;

  @include small {
    top: 50%;
    transform: translateY(-50%);
  }

  .fullscreen-icon {
    position: absolute;
    top: 0;
    right: 0;
    background: #cdcdcd;
    padding: 10px 12px;

    svg {
      font-size: 30px;
      width: 30px;
    }
  }
}

.products-carousel {
  .carousel-cell {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flickity-prev-next-button {
    background-color: #000;
    width: 37px;
    height: 37px;

    &:hover {
      background-color: rgb(46, 46, 46);
    }

    svg {
      fill: #fff;
      width: 50%;
      height: 50%;
      top: 25%;
      left: 25%;
    }

    &.next {
      right: 3%;
    }

    &.previous {
      left: 3%;
    }
  }
}
