@import "./global.scss";

.Header {
  background-color: white;
  border-bottom: 3px solid #000;
  padding: 10px 0;

  &__social-icon {
    margin-left: 10px;
    display: flex;

    a {
      color: #000;
    }

    svg {
      font-size: 24px;
      margin: 0 10px;
      width: 25px;
    }

    @include tablet {
      margin-left: 0;
      margin-top: 10px;
    }

    @include small {
      margin-left: 0;
      margin-top: 10px;
    }
  }

  .container {
    max-width: 950px;

    @include tablet {
      padding: 0;
      width: 100%;
      max-width: unset;
    }

    @include small {
      padding: 0;
      width: 100%;
      max-width: unset;
    }
  }

  &__collapse {
    flex-basis: unset;
    flex-grow: 0;

    @include tablet {
      width: 100%;
    }

    @include small {
      width: 100%;
    }
  }

  &__dropdown {
    padding: 8px;

    &--desktop {
      @include tablet {
        &::after {
          display: none !important;
        }
      }

      @include small {
        &::after {
          display: none !important;
        }
      }
    }

    @include tablet {
      padding: 16px;
    }

    @include small {
      padding: 16px;
    }

    &::after {
      display: inline-block;
      margin-left: 0.255em;
      vertical-align: 0.255em;
      content: "";
      border-top: 0.3em solid;
      border-right: 0.3em solid transparent;
      border-bottom: 0;
      border-left: 0.3em solid transparent;
    }

    a {
      color: rgba(0, 0, 0, 0.5);
    }

    &--element {
      a {
        color: #000;
      }
    }
  }

  &__icons {
    display: flex;

    svg {
      width: 30px;
      height: auto;
      vertical-align: middle;
    }

    svg,
    span {
      margin: auto;
      color: rgba(0, 0, 0, 0.5);
    }

    &:hover {
      svg,
      span {
        color: rgba(0, 0, 0, 0.8);
      }
    }
  }

  .dropdown-toggle {
    width: 0;

    &::after {
      display: none;
    }
  }

  .dropdown-menu {
    @include tablet {
      border: 0;

      a {
        padding-top: 10px !important;

        &:first-child {
          padding-top: 0 !important;
        }
      }
    }

    @include small {
      border: 0;

      a {
        padding-top: 10px !important;

        &:first-child {
          padding-top: 0 !important;
        }
      }
    }
  }

  .navbar-nav {
    a,
    div {
      @include tablet {
        text-align: left;
        padding-left: 8px;
        padding-right: 8px;

        a {
          padding: 0;
        }
      }

      @include small {
        text-align: left;
        padding-left: 8px;
        padding-right: 8px;

        a {
          padding: 0;
        }
      }
    }

    @include tablet {
      span {
        height: 16px;
      }
    }

    @include small {
      * {
        font-size: 22px;
      }

      span {
        height: 16px;
      }
    }
  }

  .nav-link {
    @include tablet {
      padding: 16px;
    }

    @include small {
      padding: 16px;
    }
  }
}
