@import "./global.scss";

.ProductOverview {
  .products {
    margin-top: 110px;
  }

  &__stock {
    p {
      text-align: justify;
      font-size: 12px;
    }

    span {
      width: 20px;
      height: 20px;
      position: relative;
      display: block;
      border-radius: 50%;
      margin: 10px 0;
    }
  }

  &__status {
    &--active {
      background: green;
    }

    &--backorder {
      background: orange;
    }
  }

  &__info {
    //margin-top: 50px;
    text-align: left;

    h3,
    h4 {
      text-align: left;
      margin: 10px 0;
    }

    button {
      margin: 0;
    }

    @include small {
      margin-top: 20px;
    }
  }

  &__short-description {
    p {
      text-align: justify;
      font-size: 16px;
    }
  }

  &__description {
    padding: 30px 55px;

    ul {
      li {
        text-align: left;
      }
    }

    p {
      text-align: left;
    }

    @include small {
      padding: 30px 15px;
    }
  }

  .contact {
    margin-top: 0;
    padding-top: 0;

    @include small {
      padding-top: 30px !important;
    }
  }

  .products-carousel {
    .carousel-cell {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        max-height: 370px;
      }
    }
  }

  .thumbns-carousel {
    .carousel-cell {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      margin: 0 20px;
      padding: 10px 0;
      height: 80px;
      overflow: hidden;
      width: 100px;
    }
  }
}

.flickity-placeholder {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(31, 31, 31, 0.95);
  z-index: -999;

  &-active {
    opacity: 1;
    z-index: 999;

    @include small {
      margin-top: 30px;
    }
  }

  .products-carousel {
    height: 85%;
    width: 85%;
    margin: auto;
    top: 55%;
    transform: translateY(-50%);
  }

  .flickity-viewport,
  .flickity-slider,
  .carousel-cell {
    height: 100% !important;
  }
}
