@import "./global.scss";

.Products {
  margin-top: 110px;
  margin-bottom: 50px;

  &__title {
    text-transform: capitalize;
  }

  &__read-more {
    padding: 0 30px;
    background-color: #fff;
    display: inline-block;
    margin: 50px auto 0 auto;

    &--container {
      background-color: transparent;
      border: 2px solid $main-color;
      font-size: 28px;
      position: relative;
      width: 220px;
      height: 50px;
    }

    &--background {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-45%, -75%);
      background-color: $main-color;
      transition: transform 0.3s ease-out;
      letter-spacing: normal;

      a {
        color: #fff;
      }

      &:hover {
        transform: translate(-50%, -50%);
      }
    }
  }

  .ProductTile {
    margin: 30px 0;
    padding: 0 50px;
    // -webkit-box-shadow: 0 0 20px -15px #828282;
    // -moz-box-shadow: 0 0 20px -15px #828282;
    // box-shadow: 0 0 20px -15px #828282;
    background-color: #00000005;

    @include tablet {
      padding: 0 10px;
    }

    @include small {
      padding: 0 10px;
    }

    &__name {
      margin: 30px 0 15px;
    }

    &__img {
      padding: 0;
      display: flex;
      border-left: 5px solid #000;
      border-bottom: 5px solid #000;
      border-top: 5px solid #000;

      @include small {
        border: 0;
      }

      img {
        display: block;
        margin: auto;
        max-height: 400px;
      }
    }

    &__content {
      background-color: #000;
      color: #fff;
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
      padding: 30px 15px;
    }

    &__view-more {
      border: 1px solid #fff;
      padding: 10px 0;
      width: 100%;
      height: 50px;

      &:hover {
        background-color: #fff;
        color: #000;
      }
    }

    &__texts {
      width: 100%;
      padding: 10px 0;
    }
  }
}
